<%= render :partial => 'navigation'%>

<table>
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>Total</th>
    <th></th>
  </tr>

<br />
<% for order in @orders %>
  <tr>
    <td align="right"><%=h order.id %></td> 
    <td align="right"><%=h order.status %></td> 
    <td align="right"><%=h order.total %></td>
    <td><%= link_to  "<img src='/images/bu.gif', border='0', alt = '­q³æ'>", order %></td>
     
<% end %>
</table>

<br />
<%= will_paginate @orders ,
    :inner_window => 1,  
    :outer_window => 1,  
    :prev_label => 'Previous',  
    :next_label => 'Next'
  %>
  <br />
<%= link_to 'New order', new_order_path %>
