<h1>Editing line_item</h1>

<%= error_messages_for :line_item %>

<% form_for(@line_item) do |f| %>
  <p>
    <b>Product</b><br />
    <%= f.text_field :product_id %>
  </p>

  <p>
    <b>Order</b><br />
    <%= f.text_field :order_id %>
  </p>

  <p>
    <b>Quantity</b><br />
    <%= f.text_field :quantity %>
  </p>

  <p>
    <b>Total price</b><br />
    <%= f.text_field :total_price %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @line_item %> |
<%= link_to 'Back', line_items_path %>
